.contain-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contain-center-with-gap {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.app {
  height: 100vh;
  width: 100vw;
  background-image: url("./images/store.jpg");
}

.container {
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.04);
  margin-top: 10vh;
  width: 25vw;
  padding: 10px 30px 30px 30px;
  box-shadow: 0px 0px 10px 1px #4c4c4d;
  border-radius: 10px;
}

.product-list-bg {
  /* background-image: url('./images/store.jpg'); */
  background-color: #f0f0f0;
  padding-top: 1rem;
  padding-left: 1rem;
  min-width: 100vw;
  min-height: 90vh;
  max-height: -webkit-fill-available;
}

.product-container {
  display: flex;
  position: relative;
  justify-content: center;
  cursor: pointer;
  width: 15rem;
  height: 15rem;
  size: 10%;
  margin-top: 1rem;
  border-radius: 20px;
  /* border: 1px solid #a5a5ad; */
  background-size: cover;
  /* background-size: contain; */
  background-repeat: no-repeat;
}

.product-container:hover{
  box-shadow: 0 0 10px 1px #4c4c4d;
}

.product-name {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* left: 6rem;
  bottom: 5vh; */
  padding: 10px;
  width: 15rem;
  /* border: 1px solid #a5a5ad; */
  border-radius: 20px;
  color: #d9d9d9;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
}

.product-name:hover {
  cursor: pointer;
  color: #d9d9d9;
  background: transparent;
  backdrop-filter: none;
  align-items: flex-start;
  color: #4c4c4d;
}

.view {
  cursor: pointer;
  display: flex; 
  justify-content: center;  
  padding-top: 3vh;
}

.view :hover {
  color: #00a3e3;
}

.home-header {
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 1000;
  position: fixed;
  padding: 10px;
  width: 100vw;
  display: flex;
  /* justify-content: space-evenly;
  align-items: center; */
  
}

.title {
  display: flex;
  gap: 10px;
  /* padding-left: 10px; */
  justify-content: space-evenly;
  align-items: center;
}

.search {
  width: 55vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.home-pagination {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 35vw;
  bottom: 10px; 
}

.info-container {
  padding: 20px;
  width: 40vw;
  height: 28rem;
  border: 1px solid #b8b6b6;
  border-radius: 10px;
}

.product-image-view {
  object-fit: contain;
  width: 10rem;
  height: 10rem;
}